<h1>CSE Motors</h1>
<main>
  <h1>Welcome to CSE Motors!</h1>

  <section>
    <div>
      <p>DMC Delorean</p>
      <img src="delorean.jpg" alt="DMC Delorean">
    </div>
    <div>
      <p>Views</p>
      <img src="views.jpg" alt="Views">
      
    </div>
    <div>
      <p>DMC Delorean Thumbnails</p>
      <img src="delorean-tn.jpg" alt="DMC Delorean Thumbnails">
    </div>
  </section>

  <section>
    <h2>DMC Delorean Revervations</h2>
    <p>Reservations Available</p>
    <div>
      <img src="after.png" alt="After">
      <img src="monster.png" alt="Monster">
      <img src="vchoose.png" alt="Choose">
      <img src="luxe.png" alt="Luxe">
    </div>
    <div class="container">
      <div class="image-container">
          <img src="your-image2.jpg" alt="Image 2">
          <!-- Add more images as needed -->
      </div>
    </div>
</main>

